.navbar__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  opacity: 1;
  transition: opacity .15s linear;
  align-self: flex-start;
  margin: 0;
}

.navbar__link:hover {
  opacity: 0.6;
}

