.popup__form {
  width: 430px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .popup__form {
    width: 240px;
  }
}