.form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 0 44px 0;
}

@media screen and (max-width: 720px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}