.navbar__menu-button {
width: 24px;
height: 18px;
border-style: none;
background-size: contain;
background-repeat: no-repeat;
background-color: black;
background-position: center;
opacity:1;
transition: opacity 0.15s linear;
margin: 7px 0 0;
display: none;
}

.navbar__menu-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .navbar__menu-button {
    display: block;
  }
}
