.button_type_submit-inactive {
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  color: #000;
  opacity: .2;
}

.button_type_submit-inactive:hover {
  background-color: #fff;
  opacity: .2;
  cursor: default;
}