@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/content/content.css');
@import url('./blocks/user-profile/user-profile.css');
@import url('./blocks/button/button.css');
@import url('./blocks/photo/photo.css');
@import url('./blocks/card/card.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/form/form.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/start-page-container/start-page-container.css');
@import url('./blocks/navbar/navbar.css');
@import url('./blocks/navbar/_type/navbar_type_mobile.css');
@import url('./blocks/info-tool-tip/info-tool-tip.css');
@import url('./blocks/hidden-block/hidden-block.css');
@import url('./blocks/navbar/_opened/navbar_opened.css');
