@import url('./__logo/header__logo.css');
@import url('./__link/header__link.css');
@import url('./__navbar/header__navbar.css');
@import url('./__navbar-item/header__navbar-item.css');
@import url('./__button-signout/header__button-signout.css');
.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;

}