.form__input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0 0 8px;
  margin: 0;
  box-shadow: none;
}

@media screen and (max-width: 720px) {
  .form__input {
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 9px;
  }
}
