@import url('./__container/popup__container.css');
@import url('./__close-button/popup__close-button.css');
@import url('./__form/popup__form.css');
@import url('./__close-photo-button/popup__close-photo-button.css');
@import url('./__photo-content/popup__photo-content.css');
@import url('./__place-image/popup__place-image.css');
@import url('./__place-name/popup__place-name.css');
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 823px) {
  .popup {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}